developer_key
developer_key kopie
/watchface/bin
/resources/watchface_original.PNG
/resources/squarecover.png
/resources/coverphoto.jpg
/mir
/internal-mir
/gen
/watchface-settings.json
/watchface.prg
/watchface.prg.debug.xml
/watchface/export
/watchface/resources
/.DS_Store
/.gitignore
/data.json
/bin
/garminrowingnijmegen.prg.debug.xml

# Analytics
/backend/analytics/
/backend/__pycache__/
/backend/suggestions.db